<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="(max-width: 800px)" href="example.css" />
    <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css" />
    <!-- Styles  -->
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/global.css" />
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Poppins:wght@100&family=Raleway:wght@100;200&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Open+Sans&family=Poppins:wght@100&family=Raleway:wght@100;200&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />

    <title>Login</title>
  </head>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    <div class="content" id="home">
      <header>
        <img src="assets/logo.png" />
      </header>
      <div id="bg">
        <div class="ball top"></div>
        <div class="ball bottom"></div>
      </div>
      <main>
        <div class="container">
          <section>
            <h2>Insira seus Dados</h2>
            <form>
              <label class="sr-only" for="room-id">Usuario</label>
              <input type="text" id="login" placeholder="Usuario" />
              <input type="password" id="senha" placeholder="Senha" />
              <button onclick="logar(); return false ">
                <img src="assets/enter-room.svg" />
                Login
              </button>
            </form>

            <script>
              function logar(request, response) {
                const login = document.getElementById("login").value;
                const senha = document.getElementById("senha").value;

                if (login === "admin@1pay.com.br" && senha === "Mudar@2022") {
                  window.location.href = "web";
                } else {
                  swal.fire({
                    title: '<h2 class="text">Erro!</h2>',
                    html: '<h2 class="text">Senha ou usuário incorreto</h2>',
                    icon: "error",
                    width: "30%",
                    padding: "4rem",
                    confirmButtonText: '<h2 class="btn-swal"> Ok </h2> ',
                  });
                }
              }
            </script>
          </section>
          <div class="separator">
            <div></div>
            <div>ou</div>
            <div></div>
          </div>
          <section>
            <h2>Sem Acesso ?</h2>
            <h2 style="font-size: 20px; margin-top: -20px">
              Entre em contato com o ADM !
            </h2>
            <a href="mailto:gabriel.vieira@1pay.com.br" class="button outlined">
              <img src="assets/users.svg" />
              Clique Aqui
            </a>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
